<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <style>
        .big-text {
        font-size: 12px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Demonstrativo do Status das Informações Declaradas no CAR</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 30px; }
        h2, h3 { text-align: center; margin-bottom: 5px; }
        table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
        th, td { padding: 8px; border: 1px solid #000; font-size: 14px; }
        .center { text-align: center; }
        .section-title { background: #eee; font-weight: bold; }
    </style>
</head>
<body>
<img src="logo.png" alt="Sunbird Logo" style="width: 200px; display: block; margin: 0 auto 20px auto; float: left;">
<h3>MINISTÉRIO DA AGRICULTURA, PECUÁRIA E ABASTECIMENTO - MAPA</h3>
<h3>INSTITUTO NACIONAL DE COLONIZAÇÃO E REFORMA AGRÁRIA - INCRA</h3>
<h3>CERTIFICADO DE CADASTRO DE IMÓVEL RURAL - CAR</h3>
<h3>EMISSÃO EXERCÍCIO 2022</h3>
<table>
    #set($codigoImovelIncra = $rowProperties.get("codigoImovelIncra").values().iterator().next())
    #set($denominacao = $rowProperties.get("denominacao").values().iterator().next())
    #set($areaTotal = $rowProperties.get("areaTotal").values().iterator().next())
    #set($classificacaoFundiaria = $rowProperties.get("classificacaoFundiaria").values().iterator().next())
    #set($dataProcessamentoUltimaDeclaracao = $rowProperties.get("dataProcessamentoUltimaDeclaracao").values().iterator().next())
    #set($areaCertificada = $rowProperties.get("areaCertificada").values().iterator().next())
    #set($indicacoesLocalizacao = $rowProperties.get("indicacoesLocalizacao").values().iterator().next())
    #set($municipioSede = $rowProperties.get("municipioSede").values().iterator().next())
    #set($ufSede = $rowProperties.get("ufSede").values().iterator().next())
    #set($areaModuloRural = $rowProperties.get("areaModuloRural").values().iterator().next())
    #set($numeroModulosRurais = $rowProperties.get("numeroModulosRurais").values().iterator().next())
    #set($areaModuloFiscal = $rowProperties.get("areaModuloFiscal").values().iterator().next())
    #set($numeroModulosFiscais = $rowProperties.get("numeroModulosFiscais").values().iterator().next())
    #set($fracaoMinimaParcelamento = $rowProperties.get("fracaoMinimaParcelamento").values().iterator().next())
    #set($totalAreaRegistrada = $rowProperties.get("totalAreaRegistrada").values().iterator().next())
    #set($totalAreaPosseJustoTitulo = $rowProperties.get("totalAreaPosseJustoTitulo").values().iterator().next())
    #set($totalAreaPosseSimplesOcupacao = $rowProperties.get("totalAreaPosseSimplesOcupacao").values().iterator().next())
    #set($areaMedida = $rowProperties.get("areaMedida").values().iterator().next())

    <tr>
        <td colspan="4" style="border: none;"><b>DADOS DO IMÓVEL RURAL</b></td>
    </tr>
    <tr>
        <td><strong>Código do Imóvel:</strong>$codigoImovelIncra</td>
        <td colspan="3"><strong>DENOMINAÇÃO DO IMÓVEL RURAL:</strong>$denominacao</td>
    </tr>
    <tr>
        <td><strong>Área Total (ha):</strong>$areaTotal</td>
        <td><strong>Classificação Fundiária:</strong>$classificacaoFundiaria</td>
        <td><strong>DATA DO PROCESSAMENTO DA ÚLTIMA DECLARAÇÃO</strong>$dataProcessamentoUltimaDeclaracao</td>
        <td><strong>ÁREA CERTIFICADA7</strong>$areaCertificada</td>
    </tr>
    <tr>
        <td colspan="2"><strong>INDICAÇÕES PARA LOCALIZAÇÃO DO IMÓVEL RURAL</strong>$indicacoesLocalizacao</td>
        <td><strong>MUNICÍPIO SEDE DO IMÓVEL RURAL</strong>$municipioSede</td>
        <td><strong>UF</strong>$ufSede</td>
    </tr>
    <tr>
        <td><strong>MÓDULO RURAL (ha)</strong>$areaModuloRural</td>
        <td><strong>Nº MÓDULOS RURAIS</strong>$numeroModulosRurais</td>
        <td><strong>MÓDULO FISCAL (ha)</strong>$areaModuloFiscal</td>
        <td><strong>Nº MÓDULOS FISCAIS</strong>$numeroModulosFiscais</td>
    </tr>
    <tr>
        <td colspan="2"><strong>FRAÇÃO MÍNIMA DE PARCELAMENTO (ha)</strong>$fracaoMinimaParcelamento</td>
    </tr>
    <tr>
        <td><strong>REGISTRADA</strong>$totalAreaRegistrada</td>
        <td><strong>POSSE A JUSTO TÍTULO</strong>$totalAreaPosseJustoTitulo</td>
        <td><strong>POSSE POR SIMPLES OCUPAÇÃO</strong>$totalAreaPosseSimplesOcupacao</td>
        <td><strong>ÁREA MEDIDA</strong>$areaMedida</td>
    </tr>
</table>
<table>
    #set($declarante = $rowProperties.get("declarante").values().iterator().next())
    #set($cpfCnpj = $rowProperties.get("cpfCnpj").values().iterator().next())
    #set($nacionalidade = $rowProperties.get("nacionalidade").values().iterator().next())
    #set($totalPessoasRelacionadasImovel = $rowProperties.get("totalPessoasRelacionadasImovel").values().iterator().next())
    <tr>
        <td colspan="2" style="border: none;"><b>DADOS DO DECLARANTE</b></td>
    </tr>
    <tr>
        <td><strong>NOME</strong>$declarante</td>
        <td><strong>CPF/CNPJ</strong>$cpfCnpj</td>
    </tr>
    <tr>
        <td><strong>NACIONALIDADE</strong>$nacionalidade</td>
        <td><strong>TOTAL DE PESSOAS RELACIONADAS AO IMÓVEL</strong>$totalPessoasRelacionadasImovel</td>
    </tr>
</table>
<table>
    #set($cpfCnpj = $rowProperties.get("cpfCnpj").values().iterator().next())
    #set($nomeTitular = $rowProperties.get("nomeTitular").values().iterator().next())
    #set($condicaoTitularidade = $rowProperties.get("condicaoTitularidade").values().iterator().next())
    #set($percentualDetencao = $rowProperties.get("percentualDetencao").values().iterator().next())
    <tr>
        <td colspan="4" style="border: none;"><b>DADOS DOS TITULARES</b></td>
    </tr>
    <tr>
        <th>CPF/CNPJ</th>
        <th>Nome</th>
        <th>Condição</th>
        <th>Detenção (%)</th>
    </tr>
    <tr>
        <td>$cpfCnpj</td>
        <td>$nomeTitular</td>
        <td>$condicaoTitularidade</td>
        <td>$percentualDetencao</td>
    </tr>
</table>
<table>
    #set($dataLancamento = $rowProperties.get("dataLancamento").values().iterator().next())
    #set($numeroCcir = $rowProperties.get("numeroCcir").values().iterator().next())
    #set($dataGeracaoCcir = $rowProperties.get("dataGeracaoCcir").values().iterator().next())
    #set($dataVencimentoCcir = $rowProperties.get("dataVencimentoCcir").values().iterator().next())
    <tr>
        <td colspan="4" style="border: none;"><b>DADOS DE CONTROLE</b></td>
    </tr>
    <tr>
        <td><strong>DATA DE LANÇAMENTO</strong>$dataLancamento</td>
        <td><strong>NÚMERO DO CCIR</strong>$numeroCcir</td>
        <td><strong>DATA DE GERAÇÃO DO CCIR</strong>$dataGeracaoCcir</td>
        <td><strong>DATA DE VENCIMENTO</strong>$dataVencimentoCcir</td>
    </tr>
</table>
<table>
    #set($debitosAnteriores = $rowProperties.get("debitosAnteriores").values().iterator().next())
    #set($taxaServicosCadastrais = $rowProperties.get("taxaServicosCadastrais").values().iterator().next())
    #set($valorCobrado = $rowProperties.get("valorCobrado").values().iterator().next())
    #set($multa = $rowProperties.get("multa").values().iterator().next())
    #set($juros = $rowProperties.get("juros").values().iterator().next())
    #set($valorTotal = $rowProperties.get("valorTotal").values().iterator().next())
    <tr>
        <td colspan="4" style="border: none;"><b>TAXA DE SERVIÇOS CADASTRAIS (R$)</b></td>
    </tr>
    <tr>
        <td><strong>DÉBITOS ANTERIORES</strong>$debitosAnteriores</td>
        <td><strong>TAXA DE SERVIÇOS CADASTRAIS</strong>$taxaServicosCadastrais</td>
        <td><strong>VALOR COBRADO</strong>$valorCobrado</td>
        <td><strong>MULTA</strong>$multa</td>
    </tr>
    <tr>
        <td><strong>JUROS</strong>$juros</td>
        <td colspan="3"><strong>VALOR TOTAL</strong>$valorTotal</td>
    </tr>
</table>
<p><strong>Observações:</strong></p>
<div style="border: 2px solid #000;">
    <ol class="big-text">
        <li>Este documento só tem validade após a quitação da devida taxa.</li>
        <li>Imóvel não possui dados geográficos cadastrados na base SIGEF/INCRA para apresentar o croqui/planta.</li>
    </ol>
</div>
<p><strong>Esclarecimentos Gerais:</strong> </p>
<div style="border: 2px solid #000;">
    <ol class="big-text">
        <li>ESTE CERTIFICADO É DOCUMENTO INDISPENSÁVEL PARA DESMEMBRAR, ARRENDAR, HIPOTECAR, VENDER OU PROMETER EM VENDA O IMÓVEL RURAL E PARA HOMOLOGAÇÃO DE PARTILHA AMIGÁVEL OU JUDICIAL "SUCESSÃO CAUSA MORTIS", DE ACORDO COM OS
            PARÁGRAFOS 1º e 2º DO ARTIGO 22 DA LEI 4.947/66.
        </li>
        <li>SEMPRE QUE OCORREREM ALTERAÇÕES NO SEU IMÓVEL, SEJA POR COMPRA, VENDA, PERMUTA, DOAÇÃO, ETC. OU NAS CONDIÇÕES DE UTILIZAÇÃO E EXPLORAÇÃO, REALIZE DECLARAÇÃO DE ATUALIZAÇÃO ATRAVÉS DA DECLARAÇÃO ELETRÔNICA DE PROPRIEDADE
            (DCR) OU PROCURE O INSTITUTO NACIONAL DE COLONIZAÇÃO E REFORMA AGRÁRIA – INCRA OU A UNIDADE MUNICIPAL DE CADASTRAMENTO – UMC, PARA ATUALIZAR O SEU CADASTRO RURAL.
        </li>
        <li>AS INFORMAÇÕES DESTE CERTIFICADO SÃO EXCLUSIVAMENTE CADASTRAIS, NÃO LEGITIMANDO DIREITO DE DOMÍNIO OU POSSE, CONFORME PRECEITUA O ARTIGO 3º DA LEI 5.868/72</li>
        <li>A TAXA DE SERVIÇOS CADASTRAIS FOI LANÇADA COM BASE NAS SEGUINTES LEGISLAÇÕES: LEI 8.847/94, DECRETO LEI 1.989/82, LEI 4.504/64, DECRETO 55.891/65 E DECRETOS LEI 57/66.</li>
        <li>O TERMO “IMPRODUTIVO” NO CAMPO “CLASSIFICAÇÃO FUNDIÁRIA” INDICA QUE O IMÓVEL RURAL NÃO ATINGIU OS ÍNDICES QUE O CLASSIFICARIAM COMO PRODUTIVO, DE ACORDO COM O ESTABELECIDO NO ARTIGO 6º DA LEI 8.629/93</li>
        <li>FMP – FRAÇÃO MÍNIMA DE PARCELAMENTO DE ACORDO COM O ESTABELECIDO NO PARÁGRAFO 1º DO ARTIGO 8º DA LEI 5.868/72.</li>
        <li>ÁREA CERTIFICADA CONFORME DISPOSTO NA LEI 10.267/01 E SUAS ALTERAÇÕES.</li>
    </ol>
</div>
<p><strong>TAXA DE SERVIÇOS CADASTRAIS</strong></p>
<div style="border: 2px solid #000;">
    <ol class="big-text">
        <li>O PRESENTE DOCUMENTO SÓ PODERÁ SER PAGO NO BANCO DO BRASIL.</li>
        <li>O CCIR COM A TAXA DE SERVIÇOS CADASTRAIS NÃO QUITADA ATÉ A DATA DE VENCIMENTO DEVERÁ SER REEMITIDO, PARA ATUALIZAÇÃO DOS CÁLCULOS DE MULTA E JUROS - LEIS 8.022/90, 8.847/94 E 8.383/91.</li>
        <li>O CCIR SÓ É VÁLIDO COM A QUITAÇÃO DA TAXA.</li>
        <li>A COBRANÇA DA TAXA DE SERVIÇOS CADASTRAIS OBEDECERÁ OS SEGUINTES CRITÉRIOS:<br>
            A) PARA OS IMÓVEIS RURAIS CONSTANTES NO SNCR ANTES DO ÚLTIMO LANÇAMENTO MASSIVO, O VALOR DA TAXA É RELATIVO A TODOS OS EXERCÍCIOS NÃO LANÇADOS;<br>
            B) PARA OS IMÓVEIS RURAIS INCLUÍDOS NO SNCR APÓS O ÚLTIMO LANÇAMENTO MASSIVO, O VALOR DA TAXA REFERE-SE AOS EXERCÍCIOS NÃO LANÇADOS, A PARTIR DO EXERCÍCIO DE INCLUSÃO;
        </li>
        <li>O VALOR DE DÉBITOS ANTERIORES REFERE-SE ÀS TAXAS DE EXERCÍCIOS ANTERIORES AOS EXERCÍCIOS CORRESPONDENTES AO ÚLTIMO LANÇAMENTO MASSIVO, CUJA COMPROVAÇÃO DE PAGAMENTO NÃO FOI
            REGISTRADA ATÉ A DATA DE EMISSÃO DESTE CERTIFICADO.
        </li>
    </ol>
</div>
</body>
</html>